* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
   
    min-height: 100vh;
  
}

img{
    border-radius: 6px;
}


section {
    background-color: white;
    margin: 80px ;
}


/* css for header */
header {
    z-index: 999;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 0 0;
    transition: 0.05s ease;
    background-color: white;
}

header .brand {
    padding: 0;
}

header .navigation {
    position: relative;
}

header .navigation .navigation-items a {
    position: relative;
    color: rgba(0, 0, 0, 0.473);
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 3%;
    transition: 0.3s ease;
    letter-spacing: 1,5px;
    padding: 5px 0;
}

header .navigation .navigation-items a:before {
    content: '';
    position: absolute;
    background:rgb(37, 95, 161);
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}
header .navigation .navigation-items a:hover  {
    color: rgb(20, 79, 146);
    font-size: larger;
    text-shadow: 0px -15px 3.5px  hsl(207, 79%, 54%);
    
}

header .navigation .navigation-items a:hover:before {
    width: 100%;
    
}
.search{
    margin-left: 20px;
   
   }
   #flag{
       width: 30px;
       margin-left: 10px;
       border-radius: 0px;
   }
   .glyphicon glyphicon-search{
       height: 25px;
   }
   .frmInput {
       width: 150px;
       height: 25px;
       outline: none;
   }
   .frmFiled{
       display: flex;
       position: relative;
   }
   
   .icon{
       height:25px;
       width: 25px;
       background-color: grey;
       position: relative;
   }
   
   .glyphicon{
       position: absolute;  
       top:50%;
       left: 50%; 
       transform: translate(-50%,0%);
        
   }
   .clear{
       width: 200px;
       
   }
/* css for advertisement on top of body */
#content_top_ads {
    width: 100%;
    height: 130px;
    margin-bottom: 30px;
    position: relative;
    
}

#content_top_ads a {
    position: relative;
    width: 100%;
    height: 130px;
    margin-bottom: 30px;
    
}

#content_top_ads img {
    object-fit: cover;
    object-position: left;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;



}
.row .under_carosel{
    text-align: center;
}
a{
   text-decoration: none;
   color: grey;
}

/* css for carousel */
.carousel_slide .carousel {
    position: relative;
    height: 450px;
    width: 100%;
}

.carousel_slide .carousel-inner {
    height: 100%;
    position: relative;
}

.carousel_slide .carousel-item {
    height: 100%;
    position: absolute;
}

.carousel_slide .carousel-item img {

    object-fit: cover;
    object-position: center;
    height: 100%;
    overflow: hidden;
}

.carousel-indicators {

    margin-left: 0;

}

.row {
    --bs-gutter-x: 0
}

/* css for information */
#content_parts {

    border-radius: 8px;
    margin-top: 0px;
    height: 200px;
    width: 100%;
    position: relative;
}

#content_parts:hover {
    box-shadow: 1px 1px 10px #b9b6b6;
}

/* CSS FILTER BUTTON */
#fil{
    position: relative;
    width: 30px;
    height: 10px;
    
    outline: none;
    background: rgb(207, 205, 205);
    -webkit-appearance: none;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: -5px -5px 20px rgba(225,225,225,0.1),
                inset -2px -2px 5px rgba(225,225,225,0.1),
                inset 2px 2px 5px rgb(239, 239, 241),
                0 0 0 2px #b3b0b0;
                transition:0.5s;
}
#fil:checked{
    background: #2196f3;
}
#fil::before{
    content:'';
    position: absolute;
    top:0;
    left: 0;
    width: 17px;
    height: 10px;
    background:linear-gradient(to top,white,white);
    border-radius: 20px;
    box-shadow: 0 0 0 1px #eeecec;
    transform: scale(0.98,0.96);
    transform: 0.5s;
}
#fil:checked::before{
    left: 13px;

}
#fil::after{
    content: '';
    position:absolute;
    left: 4px;
    top: calc(50% - 2px);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #555;
    

}
#fil:checked::after{
left: calc(15px + 7px);
background: #2196f3;

}

    /*-----  */
#content_imgs img{
    object-fit: cover;
    object-position: left;
    height: 194px;
    width: 100%;
    overflow: hidden;
    margin-top: 3px;

}


 #content_info button{
    padding: 3px;
    border-radius: 0.6em;
    float: right;

} 
 #content_info button:hover{
    background-color: rgb(112, 155, 240);
    border: grey 1.5px solid;
} 



#content_info {
    
    padding: 5px 0px 0px 30px;
    
    

}

#content_info ul li {
    text-decoration: none;
    list-style: none;
    font-size: smaller;

}

#content_info span {
    text-transform: uppercase;
    font-weight: bold;
}


#content_info h5 {
    text-shadow: 1px 2px 5px #798ce2;
    text-align: center;
    font-family: 'Aclonica', sans-serif;
    text-transform: uppercase;
    

}

.col-9 p {
    text-align: right;
    color: gray;
}

/* CSS FOR "Click to see more" button */
.clearButton{
    position: relative;
    display: inline-flex;
    padding: 7px 15px;
    background: white;
    color: black;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    overflow: hidden;
    border: #555 1px solid;
    border-radius: 4px;
    background-color: rgb(234, 234, 234);

}

.clearButton span{
    position: relative;
    z-index: 1;
}

.clearButton::before{
    content: "";
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #2196f3;
    transition: width 0.5s, height 0.5s;
}

.clearButton:hover::before{
    width: 400px;
    height: 300px;
}

/* CSS for MODAL */
.modal-body{
    overflow: auto;
    
}
.modal-title {
    text-transform: uppercase;
    text-align: center;
   
}
.modal-header{
    background-color: #dad7d7;
}
.modal-dialog{
height: 700px;
}
.modal-content {
 
    /* 80% of window height */
 
    height: 100%;}

/* css for advertisement */
.content_ads {
    width: 100%;
    height: 200px;
    position: relative;

}

.content_ads img {

    width: 100%;
    height: 100%;
    padding: 0 0 10px 10px;
    
}

/* Feedback CSS */
.feed{
    padding: 2% 11%;
    color: gray;
}
.feed1{
    padding: 20px 0;
    border-bottom: rgb(224, 221, 221) solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feed1 h1{
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    font-size: 7vw;
    color: #252839;
    -webkit-text-stroke: 0.3vw #383d52;
    text-transform: uppercase;
   }
h1::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: aquamarine;
    -webkit-text-stroke: 0.3vw #383d52;
    border-right: 2px solid aquamarine;
    overflow: hidden;
    animation: animate 7s linear infinite;
}
@keyframes animate{
    0%,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}

.feed2{
    padding: 20px 0;
    text-align: center;    
    border-bottom: rgb(224, 221, 221) solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/* Rating */
div.row.rating{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}
.rating input{
    display: none;
}
.rating label{
    position: relative;
    width:0;
    height: 128px;
    cursor: pointer;
    transition: 0.5s;
    filter: grayscale(1);
    text-align: center;
    opacity: 0;
}
.rating:hover label{
    width: 130px;
    opacity: 0.2;
}
.rating input:hover + label,
.rating input:checked + label{
    filter: grayscale(0);
    opacity: 1;
    width: 130px;
} 

.rating label h4{
    font-size: 24px;
    padding-top: 10px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 0;
    transform: translateY(-50px) scale(0);
    transition: 0.5s;
}
.rating input:hover + label h4,
.rating input:checked + label h4{
    opacity: 1;
    transform: translateY(0) scale(1);
}

.text{
   font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    white-space: nowrap;
    font-size: 1.3em;
}

.feed3{
    padding: 20px 0;
    border-bottom: rgb(224, 221, 221) solid 1px;
   
}
.feed3 input{
    width: 150px;
    height: 90px;
    color: gray;
    background-color: rgb(221, 218, 218);
    font-weight: 600;
}

.feed4{
    padding: 20px 0;
    justify-content: right;
    
}
.feed4 input{
    width: 100px;
    height: 60px;
}
.feed4 textarea{
  padding: 5px;
  
  resize: none;
}

/* FOOTER CSS */
footer {
    background-color: #3586ff;
    padding: 40px;
    color: rgb(250, 246, 246);
    position: relative;
    width: 100%;
    min-height: 100px;
    display: flex;  
}

footer .footer_social{
    font-size: xx-large;
}

footer .footer_social i{
 color: white;
 margin: 0 10px;
 display: inline-block;
 transition: 0.5s;
}
footer .footer_social i:hover{
    transform: translateY(-10px);
}

footer .col-sm{
    padding: 0 8px;
}
footer .footer_mid{
    border-right: rgb(153, 151, 15) double 7px;
    border-left: rgb(153, 151, 15) double 7px;
   
}
footer .footer_adress{
text-decoration: none;
color: white;
}
footer .footer_love{
position: absolute;
bottom: 0px;
left: 40px;
}
footer .wave{
    position: absolute;
    top:-70px;
    left: 0;
    width: 100%;
    height: 50%;
    background: url(Images/wave.png);
    background-size: 1000px 100px;
  
}
footer .wave#wave1{
    z-index: 1000;
    opacity: 0,5;
    bottom: 0;
    animation: animateWave 5s linear infinite;
}
footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3{
    z-index: 1000;
    opacity: 0,3;
    bottom: 10px;
    animation: animateWave 3s linear infinite;
}
footer .wave#wave4{
    z-index: 999;
    opacity: 0.6;
    bottom: 20px;
    animation: animateWave_02 6s linear infinite;
}
@keyframes animateWave{
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0px;
    }
}

@keyframes animateWave_02{
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1000px;
    }
}
/* responsive for small devices */
@media only screen and (max-width:767px) {
    .content_ads img{
        max-width: 49%;
     max-height: 200px;
    }
    .feed{
        margin:0;
        padding: 0;
    }
    
}


@media only screen and (max-width:575px) {
    .carousel_slide .carousel {
        height: 230px;
    }
    div.carousel-caption p{
        display: none;
    }
    .fa-hand-point-up:before {
        display: none;
    }

    #content_top_ads {
        display: none;
    }
    .frmInput {
        width: 100%;
       
    }
    .search{
        flex-direction: column;
    }
    #content_parts{
        height: auto;
    }
    #content_imgs{
      height: 200px;
    }
    #content_info {
       
        /* padding: 5px 0px 30px 30px; */
    height: 200px;
    }

    footer .wave{
        top: -100px;
        
    }
    p.footer_love{
        display: none;
    }
    footer .footer_mid {
        border-right: none;
        border-left: none;
    }

    .text{
    font-size: 15px;
    }
    .feed{
        margin:0;
        padding: 0;
    }
    
}
@media only screen and (max-width:500px) {
    .suggest{
        flex-direction: column;     
    }
    .suggest .col{
        margin-top: 30px;
        text-align: center;
    }
}
